*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#bdbdbd;
}

.calculator{
    width:320px;
    background:#111;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 20px 40px rgba(0,0,0,.3);
}

.screen{
    height:220px;
    color:white;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    text-align:right;
}

#history{
    color:#bdbdbd;
    font-size:28px;
    margin-bottom:15px;
}

#display{
    font-size:50px;
    font-weight:300;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:4px;
    padding:10px;
}

button{
    height:65px;
    border:none;
    border-radius:50%;
    font-size:28px;
    cursor:pointer;
    background:white;
    color:#222;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
}

.orange{
    background:#f5a623;
    color:white;
}